/* HomePage.css */

.product-page h1 {
    font-size: 30px; /* Set the desired font size */
    border-bottom: 1px solid #888; /* Add a bottom border with a light gray color */
    padding-bottom: 8px; /* Optional: Add padding to create space between text and border */
    width: 100%; /* Set the width to 100% */

    margin-right: 900px;;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .product-itemm {
    flex: 0 0 calc(30% - 20px); /* Adjust the percentage as needed */
    margin: 10px; /* Updated margin for better spacing */
    padding: 20px;
    
    text-align: left;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .product-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* HomePage.css */

/* HomePage.css */

.product-images {
    width: 100%;
    height: 200px; /* Set the desired height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .product-imagee {
    margin-top: 20px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-itemm:hover .product-imagee {
    transform: scale(1.1);
  }
  
  
  
  .product-content {
    padding: 10px;
    box-sizing: border-box;
  }
  
 /* HomePage.css */

.product-title {
    color: #888; /* Light gray color */
    font-size: 14px; /* Set the desired font size */
    text-align: left;
    margin-bottom: 8px;
  }
  
  
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  
    li {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
  
      &.active {
        font-weight: bold;
      }
  
      a {
        text-decoration: none;
        color: #333;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: block;
  
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
  
  .button-heart {
    text-align: right;
  }
  
  .button-heart button.liked {
    color: red;
  }
  
  .button-heart button {
    color: black;
    background: none;
    border: none;
    padding: 0;
    outline: none;
  }
  